*, html {
    margin: 0;
    padding-top: 0;
    box-sizing: border-box;
}

@font-face {
    font-family: 'josefin';
    src: url('../assets/JosefinSans-ExtraLight.ttf');
    font-style: normal;
}

@font-face {
    font-family: 'josefinbold';
    src: url('../assets/JosefinSans-Medium.ttf');
    font-style: normal;
}





/* <!-- *********************************************************** -->*/
/* PROPERTIES */
/* <!-- *********************************************************** -->*/


:root {
    --AchtergrondKleur: #faf9f8; 
    --HoofdVlak: #e4e4e4;
    --TekstVlakken: #f1ebdf;
    --QuotesKleur: #e50211;
    --TekstKleur: #000000;
    --HoverKleur: #ffffff;
    --TekstVlakDonker: #c4bdb7;
    --InlogBalk: #f3dfc6;
}






/* <!-- *********************************************************** -->
/* PROPERTIES */
/* <!-- *********************************************************** -->*/


h1, h2, h3, h5, a {
    font-family: 'josefin';
    font-size: 1.2em;
    text-align: center;
    color:var(--TekstKleur);
}

h1 {
    font-size: 0.7em;
    padding: 0.5em;
}

h5 {
    text-transform: uppercase;
    font-size: 1.2em;

    padding-top: 1em;
}






/* <!-- *********************************************************** -->
<!-- MAIN (HOMEPAGE) -->
<!-- *********************************************************** -->  */

main {
    flex-grow: 1;
    background-color:var(--AchtergrondKleur);
}

@media (min-width:70em) {
    main{
        padding-left: 20%;
        padding-right: 20%;
    }
}






/* <!-- *********************************************************** -->*/
/* Menubalk */
/* <!-- *********************************************************** -->*/

header {
    position:fixed;
    left: 0;
    right: 0;
    top:0;
    z-index: 50;

    background-color:var(--AchtergrondKleur);
    height: 4em;
    padding: 1.5em;
   
    display: flex;
    align-items: center;
}






/* <!-- *********************************************************** -->*/
/* LOGO */
/* <!-- *********************************************************** -->*/

header a:nth-of-type(1) img {
    height: 1.3em;
    margin: 0.5em;
}


@media (min-width:60em) {
    header a:nth-of-type(1) img{
      width: 3em;
      height: auto;
    }
}



/* <!-- *********************************************************** -->*/
/* Hamburgermenu */
/* <!-- *********************************************************** -->*/

/* VOLGORDE */
nav.hoofdmenu {
    order: -1;
}

/* HAMBURGERMENU ICON */
nav.hoofdmenu button {
    padding: 0;
    margin: 0;
    border: none;
    background-color:var(--AchtergrondKleur);

    position: relative;
    z-index: 100;

    width:auto;
    height:2em;
}

/* HAMBURGERMENU ICON IMG */
nav.hoofdmenu button img {
    width: 2em;
}

/* UL HAMBURGERMENU */
nav.hoofdmenu ul {
    margin:0; 
    padding:4em 0 0;
    background:var(--HoverKleur);
    list-style:none;

    z-index:50;
    position:fixed;
    left:0; right:0; top:0; bottom:0;
    transform:translatex(-100%);
  
    transition:.5s;
}

nav.hoofdmenu.toonMenu ul {
    transform:translatex(0);
}
  
/* LI ITEMS HAMBURGERMENU */
nav.hoofdmenu li {
    margin:0; padding:0;
}
  
/* LI A ITEMS HAMBURGERMENU */
nav.hoofdmenu a {
    text-decoration: none;

    display:flex;
    align-items:center;
    gap:.25em;
    padding:1em 1em;
}

nav.hoofdmenu ul li a::after {
    content: "→";
    position: absolute;
    right: 2em;
}

nav.hoofdmenu li:nth-of-type(1) {
    background-color:var(--InlogBalk);
}
  
nav.hoofdmenu li:nth-of-type(1) a:hover {
    color:var(--QuotesKleur)
}




  
/* <!-- *********************************************************** -->*/
/* HAMBURGERMENU GROTER DEVICE */
/* <!-- *********************************************************** -->*/

@media (min-width:60em) {
    nav.hoofdmenu {
      justify-self:center;
      order:0;
    }
    
    nav.hoofdmenu button {
      display:none;
    }
    
    nav.hoofdmenu ul {
      position:static;
      transform:none;
      
      display: flex;

      padding:0;
      background:none;
    }
    
    nav.hoofdmenu a {
      border:none;
    }

    nav.hoofdmenu a:hover {
        text-decoration: underline;
        color:var(--QuotesKleur);
    }

    nav.hoofdmenu ul li a::after {
        display: none;
    }

    nav.hoofdmenu li:nth-of-type(1) {
        display: none;
    }
  }
  
  
  



/* <!-- *********************************************************** -->*/
/* Menubalk icons positie rechts */
/* <!-- *********************************************************** -->*/

header nav.utilitymenu {
    margin-left: auto;
}

header nav.utilitymenu ul {
    list-style: none;

    display: flex;
    margin:0;
    padding: 0;
}

header nav.utilitymenu ul img{
    display: block;
    margin: 0;
}


header nav.utilitymenu ul a:nth-of-type(1) img,
header nav.utilitymenu ul a:nth-of-type(2) img,
header nav.utilitymenu ul a:nth-of-type(3) img,
header nav.utilitymenu ul a:nth-of-type(4) img{
    height: 1.3em;
    width: auto;
    margin: 0.5em;
}






/* <!-- *********************************************************** -->*/
/* Standaard verzending tekst*/
/* <!-- *********************************************************** -->*/

main:nth-of-type(1) {
    padding-top: 5.5em;
    padding-bottom: 1.5em;
}

/* <!-- *********************************************************** -->*/
/* standaard levering tekst 1x */
/* <!-- *********************************************************** -->*/

main:nth-of-type(1) h1{
    font-size: 0.8em;
    overflow: visible;
}

/* @media (min-width:60em) {
    main h1:nth-of-type(1) {
       display: none;
    }
} */


/* <!-- *********************************************************** -->*/
/* standaard levering tekst 3x */
/* <!-- *********************************************************** -->*/

main figcaption:nth-of-type(1) {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    padding-left: 5em;
    padding-right: 5em;
}

main figcaption h1:nth-of-type(1),
main figcaption h1:nth-of-type(2),
main figcaption h1:nth-of-type(3)  {
    color:var(--TekstKleur);
    
    grid-column-start: 1;
    grid-column-end: -1;
    overflow:visible;
}

/* 
@media (max-width:60em) {
    main figcaption:nth-of-type(1) h2{
        display: none;
    }
} */





/* <!-- *********************************************************** -->*/
/* Section 1 (Afbeelding 1 + Hello Member H1)*/
/* <!-- *********************************************************** -->*/

main section:nth-of-type(1) {
    position: relative;
    padding: 1em;
    padding-bottom: 0;
}

main section:nth-of-type(1) h1 { 
    color:var(--QuotesKleur);
    font-family: 'josefinbold';
    font-size: 2em;
    line-height: 4em;

    position: absolute;
    left:40%;
    right: 40%;
}

main section:nth-of-type(1) img {
    width:100%;
}






/* <!-- *********************************************************** -->*/
/* section 2 (Eerder toegang ELLE, H1, IMG, H3 ) */
/* <!-- *********************************************************** -->*/

main section:nth-of-type(2) {
    background-color:var(--TekstVlakken);
    padding:1em 2em;
    margin: 1em;
    margin-top: 0;

    display: grid;
    grid-column: 1;
    grid-row: 3;
}

main section:nth-of-type(2) h1 {
    font-size: 1.45em;
    font-family: 'josefinbold';
    color:var(--QuotesKleur);
    padding:6em 0em 6em 0em;

    max-width: 60em;
    grid-row-start: 2;
}

main section:nth-of-type(2) img {
    width: 10em;
    grid-row-start: 1;

    position: absolute;
    left: 34%;
    right: 34%;
}

main section:nth-of-type(2) h3 {
    font-size: 0.55em;
    color:var(--TekstKleur);
    font-family: 'josefinbold';

    grid-row-start: 3;
}






/* <!-- *********************************************************** -->*/
/* Section 3 (Layer up H3, H2, IMG)*/
/* <!-- *********************************************************** -->*/
main section:nth-of-type(3) {
    position: relative;
    padding: 1em;
    padding-bottom: 0;

    display: grid;
    grid-template-columns: 100%;
}

main section:nth-of-type(3) img {
    width:100%;
    
    display: grid;
    justify-content: center;
    align-items: center;
}



/* <!-- *********************************************************** -->*/
/* new autumn arrivals */
/* <!-- *********************************************************** -->*/

main section:nth-of-type(3) h2 { 
    color:var(--HoverKleur);
    font-family: 'josefinbold';
    font-size: 1.2em;

    position: absolute;
    bottom: 8%;
    left: 30%;
    right: 30%;
}



/* <!-- *********************************************************** -->*/
/* layer up */
/* <!-- *********************************************************** -->*/

main section:nth-of-type(3) h3 { 
    color:var(--HoverKleur);
    font-size:0.8em;

    position: absolute;
    bottom: 5em;
    left: 30%;
    right: 30%;
}



/* <!-- *********************************************************** -->*/
/* alle stijlen op een plek */
/* <!-- *********************************************************** -->*/

main section:nth-of-type(3) h4 { 
    color:var(--HoverKleur);
    font-size:0.8em;

    position: absolute;
    bottom: 0.5em;
    left: 15%; 
    right: 15%;   
}






/* <!-- *********************************************************** -->*/
/* section 4 (H&M x Elle banner) */
/* <!-- *********************************************************** -->*/

main section:nth-of-type(4) {
    background-color:var(--TekstVlakDonker);
    
    padding:0.8em 0.8em ;
    margin: 1em;

    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    flex-direction: column;
}

main section:nth-of-type(4) h1 {
    font-size: 1.2em;
    color:var(--HoverKleur);
    font-family: 'josefinbold';

    max-width: 20em;

}

main section:nth-of-type(4) h2 {
    font-size: 0.7em;
    color:var(--HoverKleur);

    max-width: 40em;
}






/* <!-- *********************************************************** -->*/
/* Section 5 (aanbevolen = carrousel)*/
/* <!-- *********************************************************** -->*/

main section:nth-of-type(5) {
    padding: 2em;
}

main section:nth-of-type(5) h3 {
    text-align: left;
    font-family: 'josefinbold';
    font-size: 1em;
}

main section:nth-of-type(5) ul {
    list-style: none;

    display: flex;
    gap:3em;

    margin:0;
    padding:1em 0;
    overflow: auto;
}

main section:nth-of-type(5) a{
    color:var(--TekstKleur);
    text-decoration: none;
    
    display: flex;
    flex-direction: column-reverse;
    gap:0.5em;
}

main section:nth-of-type(5) h4 {
    font-size: 0.8em;
    
    margin:0;
    padding: 0;

    display: grid;
    grid-template-columns: min-content;

    text-align: center;
    justify-content: center;
}

main section:nth-of-type(5) h4 em {
    font-family: 'josefinbold';
    font-style: normal;
}

main section:nth-of-type(5) img {
    width: 4em;
}






/* <!-- *********************************************************** -->*/
/* Section 6 (hey fashion lover)*/
/* <!-- *********************************************************** -->*/

main section:nth-of-type(6) {
    background-color:var(--HoofdVlak);

    padding:1em 1em;
    margin: 1em;

    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    flex-direction: column;
}

main section:nth-of-type(6) h1 {
    font-size: 1em;
    font-family: 'josefinbold';

    max-width: 60em;

}

main section:nth-of-type(6) h2 {
    font-size: 0.6em;

    max-width: 40em;
}






/* <!-- *********************************************************** -->*/
/* Section 7 (Get cosy for H2, H3, IMG)*/
/* <!-- *********************************************************** -->*/

main section:nth-of-type(7) {
    position: relative;
    padding: 1em;
    padding-bottom: 0;

    display: grid;
    grid-template-columns: 100%;
}

main section:nth-of-type(7) img {
    width:100%;
    
    display: grid;
    justify-content: center;
    align-items: center;
}



/* <!-- *********************************************************** -->*/
/* get cosy for fall */
/* <!-- *********************************************************** -->*/

main section:nth-of-type(7) h2 { 
    color:var(--HoverKleur);
    font-family: 'josefinbold';
    font-size: 1em;

    position: absolute;
    bottom: 7%;
    left: 30%;
    right: 30%;
}



/* <!-- *********************************************************** -->*/
/* het is tijd... */
/* <!-- *********************************************************** -->*/

main section:nth-of-type(7) h3 { 
    color:var(--HoverKleur);
    font-size:0.8em;

    position: absolute;
    bottom: 3%;
    left: 10%;
    right: 10%;
}






/* <!-- *********************************************************** -->*/
/* section 8 (Win als member... kind...) */
/* <!-- *********************************************************** -->*/

main section:nth-of-type(8) {
    background-color:var(--TekstVlakken);
    padding:1em ;
    margin: 1em;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    flex-direction: column;
}
main section:nth-of-type(8) h1 {
    font-size: 1.2em;
    max-width: 90%;
    color:var(--QuotesKleur);
    font-family: 'josefinbold';
}

main section:nth-of-type(8) h2 {
    font-size: 0.7em;
    max-width: 60em;
}






/* <!-- *********************************************************** -->*/
/* section 9 (Wist je dat H2, H3, IMG ) */
/* <!-- *********************************************************** -->*/

main section:nth-of-type(9) {
    position: relative;
    padding: 1em;
    padding-bottom: 0;

    display: grid;
    grid-template-columns: 100%;
}

main section:nth-of-type(9) img {
    width:100%;
    
    display: grid;
    justify-content: center;
    align-items: center;
}

main section:nth-of-type(9) h2 { 
    color:var(--HoverKleur);
    font-family: 'josefinbold';
    font-size: 1em;

    position: absolute;
    bottom: 10%;
    left: 30%;
    right: 30%;    

}

main section:nth-of-type(9) h3 { 
    color:var(--HoverKleur);
    font-size:0.8em;

    position: absolute;
    bottom: 3%;
    left: 8%;
    right: 8%;
}






/* <!-- *********************************************************** -->*/
/* section 10 (magazine/world inspiration/read/3ximages) */
/* <!-- *********************************************************** -->*/

main section:nth-of-type(10) {
    background-color:var(--TekstVlakken);
    padding:1em 2em ;
    margin-top: 1.5em;

    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    flex-direction: column;
}

main section:nth-of-type(10) h1{
    text-transform: uppercase;
    font-family: 'josefinbold';
    font-size: 1.3em;

    padding: 2em 1em 1.5em 1em;
}

main section:nth-of-type(10) h2{
    font-size: 0.6em;
    text-transform: uppercase;
}

main section:nth-of-type(10) h3{
    padding: 1em 1em 3em 1em;

    text-transform: uppercase;
    font-family: 'josefinbold';
    font-size: 0.6em;
}






/* <!-- *********************************************************** -->*/
/* section 10 (ARTICLES) */
/* <!-- *********************************************************** -->*/

main article h4::after {
    content: "→";
    margin: 0.2em;
}




/* <!--*********************************************************** -->*/
/* ARTICLES LARGE DEVICE */
/* <!-- *********************************************************** -->*/

@media (max-width:50em) {
    section:nth-of-type(10){
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
    }

    section article:nth-of-type(1) {
        grid-column-start: 1;
    }

    section article:nth-of-type(2) {
        grid-column-start: 2;
    }

    section article:nth-of-type(3) {
        grid-column-start: 3;
    }
}









/* <!-- *********************************************************** -->*/
/* section 10 (ARTICLE 1) */
/* <!-- *********************************************************** -->*/

main article:nth-of-type(1) {
    background-color:var(--HoverKleur);

    position: relative;
    padding-bottom: 10em;
}

main article:nth-of-type(1) img {
    width:100%;
}



/* <!-- *********************************************************** -->*/
/* Inside h&m */
/* <!-- *********************************************************** -->*/

main article:nth-of-type(1) h2,
main article:nth-of-type(2) h2,
main article:nth-of-type(3) h2 { 
    font-size: 0.7em;

    position: absolute;
    bottom: 30%;
    left:30%;
    right: 30%;}



/* <!-- *********************************************************** -->*/
/* Naam artikel */
/* <!-- *********************************************************** -->*/

main article:nth-of-type(1) h3 { 
    font-size:0.8em;
    text-transform: capitalize;

    position: absolute;
    bottom: 15%;
    left:18%;
    right: 18%;
}



/* <!-- *********************************************************** -->*/
/* Read the story tekst */
/* <!-- *********************************************************** -->*/

main article:nth-of-type(1) h4 { 
    font-size:0.7em;
    text-transform: capitalize;
    font-family: 'josefinbold';

    position: absolute;
    bottom: 2%;
    left:15%;
    right: 15%;
}






/* <!-- *********************************************************** -->*/
/* section 10 (ARTICLE 2) */
/* <!-- *********************************************************** -->*/

main article:nth-of-type(2) {
    background-color:var(--HoverKleur);
    
    position: relative;
    margin-top: 2.5em;
    padding-bottom: 10em;

    display: grid;
    grid-template-columns: 100%;
}

main article:nth-of-type(2) img {
    width:100%;
    
    display: grid;
    justify-content: center;
    align-items: center;
}



/* <!-- *********************************************************** -->*/
/* Naam artikel */
/* <!-- *********************************************************** -->*/

main article:nth-of-type(2) h3 { 
    font-size:0.8em;
    text-transform: capitalize;

    position: absolute;
    bottom: 16%;
    left:18%;
    right: 18%;
}



/* <!-- *********************************************************** -->*/
/* Read the story tekst */
/* <!-- *********************************************************** -->*/

main article:nth-of-type(2) h4 { 
    font-size:0.7em;
    text-transform: capitalize;
    font-family: 'josefinbold';

    position: absolute;
    bottom: 2%;
    left:15%;
    right: 15%;
}






/* <!-- *********************************************************** -->*/
/* section 10 (ARTICLE 3) */
/* <!-- *********************************************************** -->*/

main article:nth-of-type(3) {
    background-color:var(--HoverKleur);

    position: relative;
    margin-top: 2.5em;
    padding-bottom: 10em;

    display: grid;
    grid-template-columns: 100%;
}

main article:nth-of-type(3) img {
    width:100%;
    
    display: grid;
    justify-content: center;
    align-items: center;
}



/* <!-- *********************************************************** -->*/
/* Naam artikel */
/* <!-- *********************************************************** -->*/

main article:nth-of-type(3) h3 { 
    font-size:0.7em;
    text-transform: capitalize;

    position: absolute;
    bottom: 17%;
    left:3%;
    right: 3%;
}



/* <!-- *********************************************************** -->*/
/* Read the story tekst */
/* <!-- *********************************************************** -->*/

main article:nth-of-type(3) h4 { 
    font-size:0.7em;
    text-transform: capitalize;
    font-family: 'josefinbold';

    position: absolute;
    bottom: 2%;
    left:15%;
    right: 15%;
}















/* <!-- *********************************************************** -->
<!-- MAIN BLOG PAGE -->
<!-- *********************************************************** -->*/


/* <!-- *********************************************************** -->*/
/* Figure 1 (Magazine h1 + foto) */
/* <!-- *********************************************************** -->*/ 

main figure h1:nth-of-type(1) {
    background-color:var(--TekstVlakken);
    padding: 1em;

    position: fixed;
    left: 0;
    right: 0;
    top:3.2em;
    z-index: 10;

    overflow: visible;

    text-align: center;
    justify-content: center;
    align-items: center;
}

main figure:nth-of-type(1) h1{
    font-family: 'josefinbold';
    text-transform: uppercase;
    font-size: 1.2em;
    position: fixed;
    z-index: 20;
}

main figure:nth-of-type(1) img{
    width: 100%;
}





/* <!-- *********************************************************** -->*/ 
/* MEDIUM SIZE DEVICE */
/* <!-- *********************************************************** -->*/ 

/* fashion, beauty, culture */
main figure figcaption:nth-of-type(1) {
    background-color:var(--TekstVlakken) ;
    height: 3em;

    display: grid;
    grid-column: 3;

    position: fixed;
    left: 0;
    right: 0;
    top:4em;
    z-index: 10;

    overflow:visible;

    text-align: center;
    justify-content: center;
    align-items: center;
}

main figure figcaption:nth-of-type(1) a {
    text-decoration: none;
    color:var(--TekstKleur);
    
    grid-row-start: 1;    
    overflow: visible;
}

main figure figcaption:nth-of-type(1) a:hover {
    text-decoration: underline;
    color: var(--TekstKleur);
}

main figure figcaption:nth-of-type(1) a:active {
    color:var(--QuotesKleur)
}

main figure figcaption:nth-of-type(1) h2::after {
    content: "+";
    font-size: 1.5em;
    font-family: 'josefin';
    overflow: visible;
}

@media (max-width:50em) {
    main figure figcaption:nth-of-type(1) a, h2::after{
        visibility: hidden;
    }
}






/* <!-- *********************************************************** -->*/ 
/* Figure 2 (h2, h1) */
/* <!-- *********************************************************** -->*/ 

main figure:nth-of-type(2) {
    background-color:var(--HoverKleur);

    position: relative;    
    padding: 1.3em;
    margin: -2em 1em 2em 1em;

    display: grid;
    grid-template-columns: 100%;
    grid-column: 1;
    grid-row: 3;
}

main figure:nth-of-type(2) h1 {
    font-family: 'josefinbold';
    text-transform: uppercase;
    font-size: 0.6em;

    grid-row-start: 1;
}

main figure:nth-of-type(2) h2 {
    font-family: 'josefinbold';
    font-size: 1.2em;

    padding: 0.4em;
    grid-row-start: 2;
}

main figure:nth-of-type(2) h3 {
    font-size: 0.8em;

    grid-row-start: 3;
}






/* <!-- *********************************************************** -->*/ 
/* Figure 3 (img) */
/* <!-- *********************************************************** -->*/ 

main figure:nth-of-type(3) {
    padding: 1em;
}

main figure:nth-of-type(3) img {
    width: 100%;
}

@media (min-width:50em) {
    main figure:nth-of-type(3) img{
       width: 90%;

       position: relative;
       left:5%;
       right: 5%;
    }
}






/* <!-- *********************************************************** -->*/ 
/* Figure 4 (share - h1, social icons) */
/* <!-- *********************************************************** -->*/ 
main figure:nth-of-type(4) {
    display: flex;
    justify-content: center;
    gap:1em;
    padding: 1.2em;
}

main figure:nth-of-type(4) img {
    width: 1.3em;
}





/* <!-- *********************************************************** -->*/ 
/* PARAGRAPHS */
/* <!-- *********************************************************** -->*/ 

main p {
    font-family: 'josefin';
    font-size: 0.9em;
    line-height: 1.2em;

    padding: 0.7em 1.5em ;
}

@media (min-width:50em) {
    main p{
        padding:1em 7em;
    }
}




/* <!-- *********************************************************** -->*/ 
/* PARAGRAPH 1 (written by...) */
/* <!-- *********************************************************** -->*/ 

main p:nth-of-type(1) {
    text-align: center;
    padding-top: 2em;
}






/* <!-- *********************************************************** -->*/ 
/* PARAGRAPH 8 (so, one of the...) */
/* <!-- *********************************************************** -->*/ 

main p:nth-of-type(8) {
    text-transform: uppercase;
    font-family: 'josefinbold';
    font-size: 0.8em;
}






/* <!-- *********************************************************** -->*/ 
/* PARAGRAPH 12 (the collection launches...) */
/* <!-- *********************************************************** -->*/ 

main p:nth-of-type(12) {
    font-style: oblique;
}













/* <!-- *********************************************************** -->*/ 
/* footer*/
/* <!-- *********************************************************** -->*/ 

footer  {
    background-color:var(--HoofdVlak);
}



/* <!-- *********************************************************** -->*/ 
/* footer MENU*/
/* <!-- *********************************************************** -->*/ 

footer section:first-child h1, 
footer section:nth-of-type(2) h1,
footer section:nth-of-type(3) h1 {
    font-family: 'josefinbold';

    padding: 1em 0;
}

footer section:nth-of-type(1) h1::after,
footer section:nth-of-type(2) h1::after,
footer section:nth-of-type(3) h1::after {
    content: "+";
    font-size: 1.5em;
    font-family: 'josefin';

    position: absolute;
    right: 5%;
}

footer section:nth-of-type(1) h3,
footer section:nth-of-type(2) h3,
footer section:nth-of-type(3) h3 {
    text-align: start;
    font-family: 'josefinbold';

    display: block;
    padding:1em 0em 0em 1em;
}

footer section:first-of-type ul,
footer section:nth-of-type(2) ul,
footer section:nth-of-type(3) ul { 
    margin: 0;
    padding:1em 0em 0em 1em;
    list-style: none;
}

footer section:first-child a,
footer section:nth-of-type(2) a,
footer section:nth-of-type(3) a {
    color:var(--TekstKleur);
    text-transform: capitalize;
    font-size: 1em;
    text-decoration: none;

    padding: 1em 0;

    display: block;
    text-align: start;
}






/* <!-- *********************************************************** -->*/ 
/* social media iconen */ 
/* <!-- *********************************************************** -->*/ 

footer section:nth-of-type(4) {
    display: flex;
    justify-content: center;
    gap:4.5em;
    padding: 1.2em;
}

footer section:nth-of-type(4) img {
    width: 1.4em;
}






/* <!-- *********************************************************** -->*/ 
/* auteursrechten */
/* <!-- *********************************************************** -->*/ 

footer section:nth-of-type(5) p{
    font-family: 'josefin';
    text-align: center;
    padding: 1em;
    max-width: 32em;
    margin: 0 auto;
    font-size: 0.7em;
}

footer section:nth-of-type(5) p a {
    text-transform: uppercase;
}






/* <!-- *********************************************************** -->*/ 
/* hennes maurits logo zwart */
/* <!-- *********************************************************** -->*/ 

footer section:nth-of-type(6) {
    display: flex;
    justify-content: center;
    padding: 2em;
}

footer section:nth-of-type(6) img {
    width: 12em;
}






/* <!-- *********************************************************** -->*/ 
/* Nederland € tekst */
/* <!-- *********************************************************** -->*/ 

footer section:nth-of-type(7) p{
    font-size: 0.8em;
    font-family: 'josefinbold';

    display: flex;
    justify-content: center;

    padding-bottom:4em;
}

footer section:nth-of-type(7) p a {
    display: inline-block;
    margin-right: 0.3em;
}




/* <!-- *********************************************************** -->*/ 
/* FOOTER MEDIUM/SMALL DEVICE*/
/* <!-- *********************************************************** -->*/ 
@media (min-width:60em) {
    footer {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        gap: 1em;
    }

    footer section:nth-of-type(4),
    footer section:nth-of-type(5),
    footer section:nth-of-type(6),
    footer section:nth-of-type(7) {
        grid-column-start: 1;
        grid-column-end: -1 ;
    }

    footer section:nth-of-type(1) h3,
    footer section:nth-of-type(2) h3,
    footer section:nth-of-type(3) h3 {
        display: block;
        text-align: center;
    }

    footer section:first-child a,
    footer section:nth-of-type(2) a,
    footer section:nth-of-type(3) a {
        display: block;
        text-align: center;
}
}
