*, html {
    margin: 0;
    padding-top: 0;
    box-sizing: border-box;
}

@font-face {
    font-family: 'josefin';
    src: url('../assets/JosefinSans-ExtraLight.ttf');
    font-style: normal;
}

@font-face {
    font-family: 'josefinbold';
    src: url('../assets/JosefinSans-Medium.ttf');
    font-style: normal;
}





/* ********************* */
/* KLEUREN */
/* ********************* */

/* ACHTERGROND: #faf9f8 */
/* VLAK GRIJS: #e4e4e4 */
/* VLAK BEIGE: #f1ebdf */
/* LETTERTYPE QUOTE: #e50211*/
/* LETTERTYPE GEWOON: #FFFFFF */





/* ********************* */
/* PROPERTIES */
/* ********************* */

:root {
    --AchtergrondKleur: #faf9f8; 
    --HoofdVlak: #e4e4e4;
    --TekstVlakken: #f1ebdf;
    --QuotesKleur: #e50211;
    --TekstKleur: #000000;
    --HoverKleur: #ffffff;
}





/* ********************* */
/* Menubalk */
/* ********************* */

header {
    position:fixed;
    left: 0;
    right: 0;
    top:0;
    z-index: 10;

    background-color:var(--AchtergrondKleur);
    height: 4em;
    padding: 1.5em;
   
    display: flex;
    align-items: center;
}





/* ********************* */
/* Menubalk icons links */
/* ********************* */


/* logo */
header:first-of-type img{
    height: 2em;
    margin: 0.5em;
}

/* hamburgermenu */
header button {
    order: -1;
    padding: 0;
    margin: 0;
    border: none;
    background-color:var(--AchtergrondKleur);
}

header button img {
    width: 3em;
}





/* ********************* */
/* Menubalk icons positie rechts */
/* ********************* */

header nav {
    margin-left: auto;
}

header nav ul {
    display: flex;
    list-style: none;
    margin:0;
    padding: 0;
    gap:0.2em;
}

header nav ul img{
    display: block;
}





/* ********************* */
/* Main  */
/* ********************* */

main {
    padding: 6em 2em 2em;
    min-width: 6em;
    flex-grow: 1;
    background-color:var(--AchtergrondKleur);
}


/* ********************* */
/* Images homepage */
/* ********************* */


/* ********************* */
/* Afbeelding 1 */
/* ********************* */

main img:nth-of-type(1){
    width: 34em;
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 60em;
    padding-bottom: 1.5em;
    padding-top: 1.5em;
}



/* ********************* */
/* Afbeelding 2 */
/* ********************* */

main img:nth-of-type(2){
    width: 34em;
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 60em;
    padding-bottom: 1.5em;
    padding-top: 1.5em;
}



/* ********************* */
/* Afbeelding 3 */
/* ********************* */

main img:nth-of-type(3){
    width: 34em;
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 60em;
    padding-bottom: 1.5em;
    padding-top: 1.5em;
}



/* ********************* */
/* H1 + H2 + H3 + H4 */
/* ********************* */

h1, h2, h3 {
    font-family: 'josefin';
    font-size: 1.2em;
    text-align: center;
}

h1 {
    font-size: 0.9em;
    padding: 0.5em;
}

/* ********************* */
/* auteursrechten */
/* ********************* */

h4{
    color:var(--TekstKleur);
    font-family: 'josefin';
    text-align: center;
    padding: 1em 6em;
}





/* ********************* */
/* Section 1 (hey fashion lover)*/
/* ********************* */

main section:nth-of-type(1) {
    background-color:var(--HoofdVlak);
    padding: 1em;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    flex-direction: column;
    gap:1em;
}

main section:nth-of-type(1) h1 {
    font-size: 1.5em;
    max-width: 60em;
    font-family: 'josefinbold';
}

main section:nth-of-type(1) h2 {
    font-size: 0.8em;
    max-width: 60em;
}

main section:nth-of-type(1) a{
    padding:0.3em;
    color:var(--TekstKleur);
    text-decoration: none;
}

main section:nth-of-type(1) a::after {
    content: "→";
}

main section:nth-of-type(1) a:hover{
    background-color:var(--HoverKleur);
    text-decoration: underline;
    text-decoration-style:wavy ;
    text-decoration-color: cornflowerblue;
    text-decoration-thickness: 3px;
}





/* ********************* */
/* Section 2 (aanbevolen = carrousel)*/
/* ********************* */

main section:nth-of-type(2) h3 {
    text-align: left;
    font-family: 'josefinbold';
    font-size: 1em;
}

main section:nth-of-type(2) ul {
    display: flex;
    gap:4em;

    list-style: none;
    margin:0;
    padding:1em 0;
    overflow: auto;
}

main section:nth-of-type(2) a{
    display: flex;
    flex-direction: column-reverse;
    gap:0.5em;
    color:var(--TekstKleur);
    text-decoration: none;
}

main section:nth-of-type(2) h4 {
    margin:0;
    padding: 0;
    font-size: 0.8em;

    /* tekst onder elkaar plaatsen!!! */
    display: grid;
    grid-template-columns: min-content;
    text-align: center;
    justify-content: center;
}

main section:nth-of-type(2) h4 em {
    font-family: 'josefinbold';
    font-style: normal;
}

main section:nth-of-type(2) img {
    width: 5em;
}





/* ********************* */
/* section 3 (H&M x Elle banner) */
/* ********************* */

main section:nth-of-type(3) {
    background-color:var(--TekstVlakken);
    padding:2em 2em ;
    margin: 1em;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    flex-direction: column;
}

main section:nth-of-type(3) h1 {
    font-size: 1.5em;
    color:var(--QuotesKleur);
    font-family: 'josefinbold';
    max-width: 60em;

}

main section:nth-of-type(3) h2 {
    font-size: 0.8em;
    max-width: 60em;
}





/* ********************* */
/* section 4 (Win als member... kind...) */
/* ********************* */

main section:nth-of-type(4) {
    background-color:var(--TekstVlakken);
    padding:2em 2em ;
    margin: 1em;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    flex-direction: column;
}
main section:nth-of-type(4) h1 {
    font-size: 1.5em;
    max-width: 60em;
    color:var(--QuotesKleur);
    font-family: 'josefinbold';
}

main section:nth-of-type(4) h2 {
    font-size: 0.8em;
    max-width: 60em;
}





/* ********************* */
/* section 5 (hallo, recycle kleding...) */
/* ********************* */

main section:nth-of-type(5) {
    background-color:var(--TekstVlakken);
    padding:1em 2em;
    margin: 1em;
    
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    flex-direction: column;
}

main section:nth-of-type(5) h1 {
    font-size: 1.5em;
    font-family: 'josefinbold';
    max-width: 60em;
    color:var(--QuotesKleur);
}

main section:nth-of-type(5) img {
    width: 11em;
}

main section:nth-of-type(5) h3 {
    font-size: 0.8em;
}





/* ********************* */
/* section 6 (magazine/world inspiration/read/3ximages) */
/* ********************* */

main section:nth-of-type(6) {
    background-color:var(--TekstVlakken);
    padding:1em 2em ;
    margin: 1em;
    
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    flex-direction: column;
}

main section:nth-of-type(6) h1{
    text-transform: uppercase;
    font-family: 'josefinbold';
    font-size: 1.5em;
    padding: 2em 1em 1.5em 1em;
}

main section:nth-of-type(6) h2{
    font-size: 0.8em;
    text-transform: uppercase;
}

main section:nth-of-type(6) h3{
    padding: 1.5em 1em 1em 1em;
    text-transform: uppercase;
    color:var(--TekstKleur);
    font-family: 'josefinbold';
    font-size: 1em;
}






/* ********************* */
/* footer */
/* ********************* */

footer  {
    background-color:var(--HoofdVlak) ;
}



/* ********************* */
/* shop footer */
/* ********************* */

footer section:first-child{
    color:var(--TekstKleur);
    text-transform: uppercase;
    padding-top: 2em;
    padding-left:1.5em;

    display: flex;
    justify-content: start;
    align-items: flex-start;
}



/* ********************* */
/* corporate info footer */
/* ********************* */

footer section:nth-of-type(2){
    color:var(--TekstKleur);
    text-transform: uppercase;
    padding-left: 1.5em;
    padding-top: 2em;

    display: flex;
    justify-content: start;
    align-items: flex-start;
}



/* ********************* */
/* help */
/* ********************* */

footer section:nth-of-type(3){
    color:var(--TekstKleur);
    text-transform: uppercase;
    padding-left: 1.5em;
    padding-top: 2em;
    
    display: flex;
    justify-content: start;
    align-items: flex-start;
}



/* ********************* */
/* meld je nu aan + word member tekst*/
/* ********************* */

footer section:nth-of-type(4){
    color:var(--TekstKleur);
    text-transform: uppercase;
    padding: 3em;
}

footer section:nth-of-type(4) a {
    font-family: 'josefinbold';
}

footer section:nth-of-type(4) h2{
    font-size: 0.9em;
    text-transform: lowercase;
    padding: 0.8em ;
}



/* ********************* */
/* lees meer knop */
/* ********************* */

footer section:nth-of-type(5) h1{ 
    color:var(--TekstKleur);
    text-transform: uppercase;
    text-align: start;
    padding-left: 1.5em;
    padding-top: 0.7em;
    font-family: 'josefinbold';  
}

footer img a:first-child{
    width: 0.5em;
    background-color:var(--HoofdVlak);
}



/* ********************* */
/* social media iconen */ 
/* ********************* */

footer section:nth-of-type(6) {
    display: flex;
    justify-content: center;
    gap:5em;
    padding: 2em;
}

footer section:nth-of-type(6) img {
    width: 2em;
}



/* ********************* */
/* hennes maurits logo zwart */
/* ********************* */

footer section:last-of-type {
    display: flex;
    justify-content: center;
    padding: 2em;
}

footer section:last-of-type img{
    width: 15em;

}
