*, html {
    margin: 0;
    padding-top: 0;
    box-sizing: border-box;
}

@font-face {
    font-family: 'josefin';
    src: url('../assets/JosefinSans-ExtraLight.ttf');
    font-style: normal;
}

@font-face {
    font-family: 'josefinbold';
    src: url('../assets/JosefinSans-Medium.ttf');
    font-style: normal;
}





/* <!-- *********************************************************** -->*/
/* PROPERTIES */
/* <!-- *********************************************************** -->*/

:root {
    --AchtergrondKleur: #faf9f8; 
    --HoofdVlak: #e4e4e4;
    --TekstVlakken: #f1ebdf;
    --QuotesKleur: #e50211;
    --TekstKleur: #000000;
    --HoverKleur: #ffffff;
    --TekstVlakDonker: #c4bdb7;
    --InlogBalk: #f3dfc6;
}





/* <!-- *********************************************************** -->
/* STANDAARD */
/* <!-- *********************************************************** -->*/

h1, h2, h3, h4, h5, a, p {
    font-family: 'josefin';
    font-size: 1.2em;
    text-align: center;
    color:var(--TekstKleur);
}


/* <!-- *********************************************************** -->
<!-- MAIN (Homepage, Blogpage) -->
<!-- *********************************************************** -->  */

main {
    flex-grow: 1;
    background-color:var(--AchtergrondKleur);
}





/* <!-- *********************************************************** -->*/
/* HEADER */
/* <!-- *********************************************************** -->*/

header {
    position:fixed;
    left: 0;
    right: 0;
    top:0;
    z-index: 50;

    background-color:var(--AchtergrondKleur);
    height: 4em;
    padding: 1.5em;
   
    display: flex;
    align-items: center;
}



/* <!-- *********************************************************** -->*/
/* H&M LOGO ROOD */
/* <!-- *********************************************************** -->*/

header a:nth-of-type(1) img {
    height: 1.3em;
    margin: 0.5em;
}

/* <!-- *********************************************************** -->*/
/* GROTER DEVICE */
/* <!-- *********************************************************** -->*/

@media (min-width:60em) {
    header a:nth-of-type(1) img{
      width: 3em;
      height: auto;
    }
}



/* <!-- *********************************************************** -->*/
/* HAMBURGERMENU */
/* <!-- *********************************************************** -->*/

/* Volgorde */
nav.hoofdmenu {
    order: -1;
}

/* Hamburgermenu Icon */
nav.hoofdmenu button {
    padding: 0;
    margin: 0;
    border: none;
    background-color:var(--AchtergrondKleur);

    position: relative;
    z-index: 100;

    width:auto;
    height:2em;
}

nav.hoofdmenu button img {
    width: 2em;
}

/* Hamburgermenu UL */
nav.hoofdmenu ul {
    margin:0; 
    padding:4em 0 0;
    background:var(--HoverKleur);
    list-style:none;

    z-index:50;
    position:fixed;
    left:0; right:0; top:0; bottom:0;
    transform:translatex(-100%);
  
    transition:.5s;
}

nav.hoofdmenu ul:focus-within {
    transform: translatex(0);
}

/* Hamburgermenu tab (openen bij tab)  */
nav.hoofdmenu.toonMenu ul {
    transform:translatex(0);
}
  
/* Hamburgermenu list items*/
nav.hoofdmenu li {
    margin:0; padding:0;
}
  
/* Hamburgermenu list items link(a) */
nav.hoofdmenu a {
    text-decoration: none;

    display:flex;
    align-items:center;
    gap:.25em;
    padding:1em 1em;
}

nav.hoofdmenu ul li a::after {
    content: "→";
    position: absolute;
    right: 2em;
}

nav.hoofdmenu li:nth-of-type(1) {
    background-color:var(--InlogBalk);
}
  
nav.hoofdmenu li:nth-of-type(1) a:hover {
    color:var(--QuotesKleur)
}

/* <!-- *********************************************************** -->*/
/* GROTER DEVICE */
/* <!-- *********************************************************** -->*/

@media (min-width:60em) {
    nav.hoofdmenu {
      justify-self:center;
      order:0;
    }
    
    nav.hoofdmenu button {
      display:none;
    }
    
    nav.hoofdmenu ul {
      position:static;
      transform:none;
      
      display: flex;
      padding:0;
      background:none;
    }
    
    nav.hoofdmenu a {
      border:none;
    }

    nav.hoofdmenu a:hover {
        text-decoration: underline;
        color:var(--QuotesKleur);
    }

    nav.hoofdmenu ul li a::after {
        display: none;
    }

    nav.hoofdmenu li:nth-of-type(1) {
        display: none;
    }
  }
    
  



/* <!-- *********************************************************** -->*/
/* Menubalk icons (positie rechts: favorieten, winkelmand etc.) */
/* <!-- *********************************************************** -->*/

header nav.utilitymenu {
    margin-left: auto;
}

header nav.utilitymenu ul {
    list-style: none;

    display: flex;
    margin:0;
    padding: 0;
}

header nav.utilitymenu ul img{
    display: block;
    margin: 0;
}

header nav.utilitymenu ul a:nth-of-type(1) img,
header nav.utilitymenu ul a:nth-of-type(2) img,
header nav.utilitymenu ul a:nth-of-type(3) img,
header nav.utilitymenu ul a:nth-of-type(4) img{
    height: 1.3em;
    width: auto;
    margin: 0.5em;
}










/* <!-- *********************************************************** -->*/
/* <!-- *********************************************************** -->*/
/* HOMEPAGE*/
/* <!-- *********************************************************** -->*/
/* <!-- *********************************************************** -->*/

/* <!-- *********************************************************** -->*/
/* Standaard levering tekst */
/* <!-- *********************************************************** -->*/
.homepage:nth-of-type(1) {
    padding-top: 5.5em;
    padding-bottom: 1.5em;
}

.homepage:nth-of-type(1) h1{
    font-size: 0.8em;
    overflow: visible;
}

.homepage > h1 span:nth-of-type(2),
.homepage > h1 span:nth-of-type(3) {
    display: none;
}

/* <!-- *********************************************************** -->*/
/* GROTER DEVICE */
/* <!-- *********************************************************** -->*/

@media (min-width:50em) {
    .homepage > h1 span:nth-of-type(2),
    .homepage > h1 span:nth-of-type(3) {
       display: inline-block;
    }

    .homepage > h1 {
        display: flex;
        gap:2em;
        justify-content: center;
    }
}





/* <!-- *********************************************************** -->*/
/* Section 1 (Afbeelding 1 + Hello Member H1)*/
/* <!-- *********************************************************** -->*/

.homepage section:nth-of-type(1) {
    position: relative;
    padding: 1em;
    padding-bottom: 0;
}

.homepage section:nth-of-type(1) img {
    width:100%;
}

.homepage section:nth-of-type(1) h1:nth-of-type(1),
.homepage section:nth-of-type(1) h1:nth-of-type(2) { 
    color:var(--QuotesKleur);
    font-family: 'josefinbold';
    font-size: 2em;
   
    position: absolute;
    left:0;
    right:0;
    bottom:60%;
}

.homepage section:nth-of-type(1) h1:nth-of-type(2) { 
    bottom:30%;
}

/* <!-- *********************************************************** -->*/
/* GROTER DEVICE */
/* <!-- *********************************************************** -->*/

@media (min-width:70em) {
    .homepage section:nth-of-type(1){
        padding-left: 20%;
        padding-right: 20%;
    }
}





/* <!-- *********************************************************** -->*/
/* section 2 (Eerder toegang ELLE, H1, IMG, H2 ) */
/* <!-- *********************************************************** -->*/

.homepage section:nth-of-type(2) {
    background-color:var(--TekstVlakken);
    
    padding:7em 2em;
    margin: 0 1em;
    position: relative;
}

.homepage section:nth-of-type(2) h1,
.homepage section:nth-of-type(2) h2 {
    position: absolute;
    left: 0;
    right: 0;
}

.homepage section:nth-of-type(2) img {
    width: 10em;

    position: absolute;
    left: 36%;
    top: 10%;
}

.homepage section:nth-of-type(2) h1 {
    font-size: 1.3em;
    font-family: 'josefinbold';
    color:var(--QuotesKleur);

    margin: 0.5em;
    bottom: 4em;
}

.homepage section:nth-of-type(2) h2 {
    font-size: 0.6em;
    bottom: 1em;
}

/* <!-- *********************************************************** -->*/
/* GROTER DEVICE */
/* <!-- *********************************************************** -->*/

@media (min-width:70em) {
    .homepage section:nth-of-type(2){
        margin-left: 20%;
        margin-right: 20%;
    }
}





/* <!-- *********************************************************** -->*/
/* Section 3 (Layer up H2, H3, H4, IMG)*/
/* <!-- *********************************************************** -->*/

.homepage section:nth-of-type(3) {
    position: relative;
    padding: 1em;
    padding-bottom: 0;
}

.homepage section:nth-of-type(3) img {
    width:100%;
}

/* <!-- *********************************************************** -->*/
/* GROTER DEVICE */
/* <!-- *********************************************************** -->*/

@media (min-width:70em) {
    .homepage section:nth-of-type(3){
        padding-left: 20%;
        padding-right: 20%;
    }
}

/* <!-- *********************************************************** -->*/
/* Standaard properties h2, h3, h4 */
/* <!-- *********************************************************** -->*/

.homepage section:nth-of-type(3) h2,
.homepage section:nth-of-type(3) h3,
.homepage section:nth-of-type(3) h4 {
    color:var(--HoverKleur);
    text-align: center;
    position: absolute;
    left: 0;
    right: 0;
}

/* <!-- *********************************************************** -->*/
/* new autumn arrivals (H2) */
/* <!-- *********************************************************** -->*/

.homepage section:nth-of-type(3) h2 { 
    font-family: 'josefinbold';
    font-size: 1.2em;

    bottom: 3.2em;
}

/* <!-- *********************************************************** -->*/
/* layer up (H3)*/
/* <!-- *********************************************************** -->*/

.homepage section:nth-of-type(3) h3 { 
    font-size:0.8em;
    bottom: 7em;
}

/* <!-- *********************************************************** -->*/
/* alle stijlen op een plek (H4)*/
/* <!-- *********************************************************** -->*/

.homepage section:nth-of-type(3) h4 { 
    font-size:0.8em;
    bottom: 2.7em; 
}





/* <!-- *********************************************************** -->*/
/* section 4 (H&M x Elle banner) */
/* <!-- *********************************************************** -->*/

.homepage section:nth-of-type(4) {
    background-color:var(--TekstVlakDonker);

    padding:1.5em  ;
    margin: 1em;
}

.homepage section:nth-of-type(4) h1,
.homepage section:nth-of-type(4) h2 {
    color:var(--HoverKleur);
    text-align: center;
}

.homepage section:nth-of-type(4) h1 {
    font-size: 1.2em;
    font-family: 'josefinbold';
    margin: 0.5em;
}

.homepage section:nth-of-type(4) > h2 {
    font-size: 0.8em;
    
}

/* <!-- *********************************************************** -->*/
/* GROTER DEVICE */
/* <!-- *********************************************************** -->*/

@media (min-width:70em) {
    .homepage section:nth-of-type(4){
        margin-left: 20%;
        margin-right: 20%;
    }
}





/* <!-- *********************************************************** -->*/
/* Section 5 (aanbevolen = carrousel)*/
/* <!-- *********************************************************** -->*/

.homepage section:nth-of-type(5) {
    padding: 2em;
}

.homepage section:nth-of-type(5) h3 {
    text-align: left;
    font-family: 'josefinbold';
    font-size: 1em;
}

.homepage section:nth-of-type(5) ul {
    list-style: none;

    display: flex;
    gap:3em;

    margin:0;
    padding:1em 0;
    overflow: auto;
}

.homepage section:nth-of-type(5) a{
    color:var(--TekstKleur);
    text-decoration: none;
    
    display: flex;
    flex-direction: column-reverse;
    gap:0.5em;
}

.homepage section:nth-of-type(5) h4 {
    font-size: 0.8em;

    display: grid;
    grid-template-columns: min-content;
    text-align: center;
    justify-content: center;
  
    margin:0;
    padding: 0;
}

.homepage section:nth-of-type(5) h4 em {
    font-family: 'josefinbold';
    font-style: normal;
}

.homepage section:nth-of-type(5) img {
    width: 4em;
}

/* <!-- *********************************************************** -->*/
/* GROTER DEVICE */
/* <!-- *********************************************************** -->*/

@media (min-width:70em) {
    .homepage section:nth-of-type(5){
        padding-left: 20%;
        padding-right: 20%;
    }
}





/* <!-- *********************************************************** -->*/
/* Section 6 (hey fashion lover)*/
/* <!-- *********************************************************** -->*/

.homepage section:nth-of-type(6) {
    background-color:var(--HoofdVlak);

    padding:1.5em;
    margin: 1em;
}

.homepage section:nth-of-type(6) h1,
.homepage section:nth-of-type(6) h2 {
    text-align: center;
}

.homepage section:nth-of-type(6) h1 {
    font-size: 1.2em;
    font-family: 'josefinbold';
    margin: 0.5em;
}

.homepage section:nth-of-type(6) h2 {
    font-size: 0.8em;
}

/* <!-- *********************************************************** -->*/
/* GROTER DEVICE */
/* <!-- *********************************************************** -->*/

@media (min-width:70em) {
    .homepage section:nth-of-type(6){
        margin-left: 20%;
        margin-right: 20%;
    }
}





/* <!-- *********************************************************** -->*/
/* Section 7 (Get cosy for H2, H3, IMG)*/
/* <!-- *********************************************************** -->*/

.homepage section:nth-of-type(7) {
    position: relative;
    padding: 1em;
    padding-bottom: 0;
}

.homepage section:nth-of-type(7) img {
    width:100%;
}

/* <!-- *********************************************************** -->*/
/* GROTER DEVICE */
/* <!-- *********************************************************** -->*/

@media (min-width:70em) {
    .homepage section:nth-of-type(7){
        padding-left: 20%;
        padding-right: 20%;
    }
}

/* <!-- *********************************************************** -->*/
/* Standaard properties h2, h3, h4 */
/* <!-- *********************************************************** -->*/

.homepage section:nth-of-type(7) h2,
.homepage section:nth-of-type(7) h3,
.homepage section:nth-of-type(7) h4 {
    color:var(--HoverKleur);
    text-align: center;
    position: absolute;
    left: 0;
    right: 0;
}

/* <!-- *********************************************************** -->*/
/* get cosy for fall */
/* <!-- *********************************************************** -->*/

.homepage section:nth-of-type(7) h2 { 
    font-family: 'josefinbold';
    font-size: 1.2em;

    bottom: 3em;
}

/* <!-- *********************************************************** -->*/
/* het is tijd... */
/* <!-- *********************************************************** -->*/

.homepage section:nth-of-type(7) h3 { 
    font-size:0.8em; 
    bottom: 2.25em;
}





/* <!-- *********************************************************** -->*/
/* section 8 (Win als member... kind... H1, H2) */
/* <!-- *********************************************************** -->*/

.homepage section:nth-of-type(8) {
    background-color:var(--TekstVlakken);
    padding:1.5em ;
    margin: 1em;
}

.homepage section:nth-of-type(8) h1,
.homepage section:nth-of-type(8) h2 {
    color:var(--TekstKleur);
    text-align: center;
}

.homepage section:nth-of-type(8) h1 {
    font-size: 1.2em;
    color:var(--QuotesKleur);
    font-family: 'josefinbold';

    margin: 0.5em;
}

.homepage section:nth-of-type(8) h2 {
    font-size: 0.8em;
}

/* <!-- *********************************************************** -->*/
/* GROTER DEVICE */
/* <!-- *********************************************************** -->*/

@media (min-width:70em) {
    .homepage section:nth-of-type(8){
        margin-left: 20%;
        margin-right: 20%;
    }
}





/* <!-- *********************************************************** -->*/
/* section 9 (Wist je dat H2, H3, IMG ) */
/* <!-- *********************************************************** -->*/

.homepage section:nth-of-type(9) {
    position: relative;
    padding: 1em;
    padding-bottom: 0;
}

.homepage section:nth-of-type(9) img {
    width:100%;
}

.homepage section:nth-of-type(9) h2,
.homepage section:nth-of-type(9) h3 {
    color:var(--HoverKleur);
    position: absolute;
    left: 0;
    right: 0;
}

.homepage section:nth-of-type(9) h2 { 
    font-family: 'josefinbold';
    font-size: 1em;

    bottom: 3em;
}

.homepage section:nth-of-type(9) h3 { 
    font-size:0.8em;
    bottom: 1.7em;
}

/* <!-- *********************************************************** -->*/
/* GROTER DEVICE */
/* <!-- *********************************************************** -->*/

@media (min-width:70em) {
    .homepage section:nth-of-type(9){
        padding-left: 20%;
        padding-right: 20%;
    }
}





/* <!-- *********************************************************** -->*/
/* section 10 (magazine/world inspiration/read/3ximages H1, H2, H3) */
/* <!-- *********************************************************** -->*/

.homepage section:nth-of-type(10) {
    background-color:var(--TekstVlakken);
    padding:1em 2em ;
    margin-top: 1.5em;    
}

.homepage section:nth-of-type(10) > h1,
.homepage section:nth-of-type(10) > h2,
.homepage section:nth-of-type(10) > a h3 {
        text-transform: uppercase;
}

.homepage section:nth-of-type(10) > h1{
    font-family: 'josefinbold';
    font-size: 1.5em;

    margin-top: 1em;
    order: -2;
}

.homepage section:nth-of-type(10) > h2{
    font-size: 0.8em;
    order: -1;
}

.homepage section:nth-of-type(10) > a h3{
    margin: 2em ;

    font-family: 'josefinbold';
    font-size: 0.7em;
}





/* <!-- *********************************************************** -->*/
/* section 10 (ARTICLES) */
/* <!-- *********************************************************** -->*/

.homepage section:nth-of-type(10) div {
    display: grid;
    gap:2.5em;
}
  
.homepage section:nth-of-type(10)  article {
    background-color:var(--HoverKleur);

    position: relative;
    display: flex;
    flex-direction: column;
}

.homepage section:nth-of-type(10) img {
    width:100%;
}

/* <!-- *********************************************************** -->*/
/* Inside h&m */
/* <!-- *********************************************************** -->*/

.homepage section:nth-of-type(10) article h2{ 
    font-size: 0.7em;
    text-transform: uppercase;

    margin: 0.5em;
}

/* <!-- *********************************************************** -->*/
/* Artikel titel */
/* <!-- *********************************************************** -->*/

.homepage section:nth-of-type(10) article h3 { 
    font-size:0.8em;
    text-transform: capitalize;
    font-family: 'josefinbold';
    
    padding: 1em;
    min-height: 5em;
}

/* <!-- *********************************************************** -->*/
/* Read the story tekst */
/* <!-- *********************************************************** -->*/

.homepage section:nth-of-type(10) h4 { 
    font-size:0.7em;
    text-transform: capitalize;
    font-family: 'josefinbold';

    padding: 0.5em 0 1em;
}

.homepage article h4::after {
    content: "→";
    margin: 0.2em;
}

.homepage section:nth-of-type(10) a:last-of-type {
    order: -1;
}

/* <!-- *********************************************************** -->*/
/* ARTICLES GROTER DEVICE */
/* <!-- *********************************************************** -->*/

@media (min-width:70em) {
    .homepage section:nth-of-type(10) div {
        grid-template-columns: 1fr 1fr 1fr;
    }
}










/* <!-- *********************************************************** -->
/* <!-- *********************************************************** -->
<!-- MAIN BLOG PAGE -->
<!-- *********************************************************** -->*/
/* <!-- *********************************************************** -->

/* <!-- *********************************************************** -->*/ 
/* Section 1 (Magazine -> Fashion, Beauty, culture H1) */
/* <!-- *********************************************************** -->*/ 

.blogpage h1:first-child {
    font-size: 1.5em;

    overflow: visible;
    margin-top: 2.6em;

    position: fixed;
    background-color:var(--TekstVlakken);
    z-index: 20;
    justify-content: center;
    align-items: center;

    left: 0;
    right: 0;
    top:0;
    padding: 1em;
}

.blogpage h1 span:nth-of-type(1) {
    text-transform: uppercase;
    font-family: 'josefinbold';
}

.blogpage h1 span:nth-of-type(2),
.blogpage h1 span:nth-of-type(3),
.blogpage h1 span:nth-of-type(4) {
    display: none;
}

/* <!-- *********************************************************** -->*/
/* GROTER DEVICE */
/* <!-- *********************************************************** -->*/

@media (min-width:50em) {
    .blogpage h1 span:nth-of-type(2),
    .blogpage h1 span:nth-of-type(3),
    .blogpage h1 span:nth-of-type(4){
       display: inline-block;
       margin: 0 1em;
       font-size: 0.7em;
    }

    .blogpage h1 span:nth-of-type(1) {
        display: flex;
        justify-content: center;
        align-items: center;
        position: fixed;
    }

    .blogpage h1 span:nth-of-type(2) a,
    .blogpage h1 span:nth-of-type(3) a,
    .blogpage h1 span:nth-of-type(4) a {
        text-decoration: none;
    }
}




/* <!-- *********************************************************** -->*/ 
/* First image */
/* <!-- *********************************************************** -->*/ 

.blogpage > img{
    width: 100%;
    margin-top: 8em;
    position: relative;

    background-color:var(--TekstVlakken);
}

/* <!-- *********************************************************** -->*/
/* GROTER DEVICE */
/* <!-- *********************************************************** -->*/

@media (min-width:70em) {
    .blogpage > img{
        padding-left: 20%;
        padding-right: 20%;
    }
}





/* <!-- *********************************************************** -->*/ 
/* Section 2 (h1, h2, h3 --> inside h&m, coming this spring, style is also...) */
/* <!-- *********************************************************** -->*/ 

.blogpage section:nth-of-type(2) {
    background-color:var(--HoverKleur);
   
    position: relative;
    left: 0;
    right: 0;
    padding: 1.3em;
}

.blogpage section:nth-of-type(2) h2{
    font-family: 'josefinbold';
    text-transform: uppercase;
    font-size: 0.7em;
}

.blogpage section:nth-of-type(2) h3 {
    font-family: 'josefinbold';
    font-size: 1.2em;

    padding: 0.6em;
}

.blogpage section:nth-of-type(2) h4 {
    font-size: 0.8em;
}

/* <!-- *********************************************************** -->*/
/* GROTER DEVICE */
/* <!-- *********************************************************** -->*/

@media (min-width:70em) {
    .blogpage section:nth-of-type(2){
        margin-left: 25%;
        margin-right: 25%;
        top: -3em;
    }
}





/* <!-- *********************************************************** -->*/ 
/* section 3 (img) */
/* <!-- *********************************************************** -->*/ 

.blogpage section:nth-of-type(3) {
    padding: 1em;
}

.blogpage section:nth-of-type(3) img {
    width: 100%;
}

/* <!-- *********************************************************** -->*/
/* GROTER DEVICE */
/* <!-- *********************************************************** -->*/

@media (min-width:70em) {
    .blogpage section:nth-of-type(3) img{
        padding-left: 25%;
        padding-right: 25%;
    }
}





/* <!-- *********************************************************** -->*/ 
/* section 4 (share - h1, social icons) */
/* <!-- *********************************************************** -->*/ 

.blogpage section:nth-of-type(4) ul {
    display: flex;
    justify-content: center;
    gap:1em;
    padding: 1em 0 2em;
}

.blogpage section:nth-of-type(4) li {
    list-style: none;
}

.blogpage section:nth-of-type(4) img {
    width: 1.3em;
}

.blogpage h5:nth-of-type(2) {
    font-size: 2em;
    padding:1em 0 0;
}





/* <!-- *********************************************************** -->*/ 
/* PARAGRAPHS */
/* <!-- *********************************************************** -->*/ 

.blogpage p, h5 {
    font-size: 0.9em;
    line-height: 1.2em;

    padding: 1em 2em ;
}

/* <!-- *********************************************************** -->*/
/* GROTER DEVICE */
/* <!-- *********************************************************** -->*/

@media (min-width:70em) {
    .blogpage p{
        padding-left: 30%;
        padding-right: 30%;
        text-align: start;
    }
}



/* <!-- *********************************************************** -->*/ 
/* PARAGRAPH 1 (written by...) */
/* <!-- *********************************************************** -->*/ 

.blogpage p:nth-of-type(1) {
    font-size: 1em;
    text-align: center;
    padding-top: 2em;
}



/* <!-- *********************************************************** -->*/ 
/* PARAGRAPH 8 (so, one of the...) */
/* <!-- *********************************************************** -->*/ 

.blogpage p:nth-of-type(8) {
    text-transform: uppercase;
    font-family: 'josefinbold';
    font-size: 0.8em;
}



/* <!-- *********************************************************** -->*/ 
/* PARAGRAPH 12 (the collection launches...) */
/* <!-- *********************************************************** -->*/ 

.blogpage p:nth-of-type(12) {
    font-style: oblique;
}










/* <!-- *********************************************************** -->*/ 
/* <!-- *********************************************************** -->*/ 
/* footer*/
/* <!-- *********************************************************** -->*/ 
/* <!-- *********************************************************** -->*/ 

footer  {
    background-color:var(--HoofdVlak);
    padding: 1em ;
}

/* <!-- *********************************************************** -->*/ 
/* footer MENU*/
/* <!-- *********************************************************** -->*/ 

footer section:nth-of-type(1) h3,
footer section:nth-of-type(2) h3,
footer section:nth-of-type(3) h3 {
    text-align: start;
    font-family: 'josefinbold';

    display: block;
    margin:2.5em 0em 0em 1em;
}

footer section:first-of-type ul,
footer section:nth-of-type(2) ul,
footer section:nth-of-type(3) ul { 
    margin: 0;
    padding:1em 0em 0em 1em;
    list-style: none;
}

footer section:first-child a,
footer section:nth-of-type(2) a,
footer section:nth-of-type(3) a {
    color:var(--TekstKleur);
    text-transform: capitalize;
    font-size: 1em;
    text-decoration: none;

    padding: 0.5em 0;

    display: block;
    text-align: start;
}





/* <!-- *********************************************************** -->*/ 
/* social media iconen */ 
/* <!-- *********************************************************** -->*/ 

footer section:nth-of-type(4) {
    display: flex;
    justify-content: center;
    gap:4.5em;

    margin: 2em;
    padding: 1.2em;
}

footer section:nth-of-type(4) img {
    width: 1.4em;
}





/* <!-- *********************************************************** -->*/ 
/* auteursrechten */
/* <!-- *********************************************************** -->*/ 

footer section:nth-of-type(5) p{
    text-align: center;
    font-size: 1em;
    
    margin: 0 auto;
    max-width: 32em;
}

footer section:nth-of-type(5) p a {
    text-transform: uppercase;
}





/* <!-- *********************************************************** -->*/ 
/* hennes maurits logo zwart */
/* <!-- *********************************************************** -->*/ 

footer section:nth-of-type(6) {
    display: flex;
    justify-content: center;
    padding: 2em;
}

footer section:nth-of-type(6) img {
    width: 12em;
}





/* <!-- *********************************************************** -->*/ 
/* Nederland € tekst */
/* <!-- *********************************************************** -->*/ 

footer section:nth-of-type(7) p{
    font-size: 0.8em;
    font-family: 'josefinbold';

    display: flex;
    justify-content: center;

    padding-bottom:4em;
}

footer section:nth-of-type(7) p a {
    display: inline-block;
    margin-right: 0.3em;
    font-family: 'josefinbold'
}





/* <!-- *********************************************************** -->*/ 
/* FOOTER MEDIUM/SMALL DEVICE*/
/* <!-- *********************************************************** -->*/ 
@media (min-width:60em) {
    footer {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        gap: 1em;
    }

    footer section:nth-of-type(4),
    footer section:nth-of-type(5),
    footer section:nth-of-type(6),
    footer section:nth-of-type(7) {
        grid-column-start: 1;
        grid-column-end: -1 ;
    }

    footer section:nth-of-type(1) h3,
    footer section:nth-of-type(2) h3,
    footer section:nth-of-type(3) h3 {
        display: block;
        text-align: center;
        margin-top: 1em;
    }

    footer section:first-child a,
    footer section:nth-of-type(2) a,
    footer section:nth-of-type(3) a {
        display: block;
        text-align: center;
}
}
